//variables
$color1:rgb(218, 170, 14);
$color2:rgb(127, 236, 55);
$color3:rgb(255, 255, 255);
$color4:rgb(212, 213, 216);
$color5:rgb(170, 240, 113);
$color6:rgb(58, 107, 212);
$color7:rgb(49, 49, 48);
$color8:rgb(255, 255, 255);
$fontsize_s: 20px;
$fontsize_m: 35px;
$fontsize_l: 50px;
$fontstyle1: Arial;
$fontstyle2: Helvetica;
$fontstyle3: Sans-Serif;
$fontsytle2:'Sacramento', cursive;
